/*  --font-family--  */

@font-face {
    font-family: montreal;
    src: url(fonts/neuemontrealfonts/NeueMontreal-Regular.otf);
}

/*   --animations--   */

@keyframes slider {
    0%{
        margin-top: 0;
    }
    7%{
        margin-top: -60px;
    }
    14%{
        margin-top: -120px;
    }
    28%{
        margin-top: -180px;
    }
    35%{
        margin-top: -240px;
    }
    42%{
        margin-top: -300px;
    }
    49%{
        margin-top: -360px;
    }
    56%{
        margin-top: -300px;
    }
    63%{
        margin-top: -240px;
    }
    70%{
        margin-top: -180px;
    }
    77%{
        margin-top: -120px;
    }
    84%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0px;
    }
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0;}
}

:root{
    --color-text: grey; 
}
*{
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    background: black;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


a, li, ul{margin: 0; padding: 0; list-style: none; text-decoration: none;}

.container{
    position: absolute;
    width: 100%;
    height: 100vh;
} 


header{
    position: relative ;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    padding : 20px 40px 0 40px;
    font-family: montreal, sans-serif;
    background: transparent;
    overflow: hidden;
    z-index: 2;
}


.nav-a{
    padding: 20px;
    position: relative;
    color: var(--color-text);
    overflow: hidden;
}

.nav-a:hover{
    cursor: pointer;
    color: aqua;
    font-size: 1.3em;
}

.home{
    position: relative;
    width: 100%;
    height: 650px;
    background: transparent;
    font-family: montreal, sans-serif;
    margin-top: -90px;
    overflow-y: hidden;

}

.home .greet{
    color: white;
    position: relative;
    transform: translate(10px,300px);
    padding: 0 40px;
    height: 60px;
    overflow: hidden;
}


.home .greet .line{
    text-transform: uppercase;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    overflow: hidden;
}

.line:first-child{
    animation: slider 12s infinite;
}

.home .intro-one{
    position: relative;
    transform: translate(50px,300px);
    color: antiquewhite;
    font-size: 5rem;
} 


.home .intro-two{
    margin-top: 10px;
    position: relative;
    transform: translate(50px,300px);
    font-size: 2.5rem;
    color: antiquewhite;
}

.btn-container{
    justify-content: center;
    gap: 1rem;
    transform: translate(50px,330px);
}

.btn{
    cursor: pointer;
   font-weight: 600;
   transition: all 300ms ease;
   padding: 1rem;
   width: 8rem;
   border-radius: 2rem;
}

.cv{
    background: rgb(246, 246, 246);
    color: black;
    margin-right: 20px;
    transition: all 1s ease;
}

.info{
    background-color: black;
    color: beige;
    border: none;
    border: 1px solid goldenrod;
}

.cv:hover{
    background: rgba(246, 246, 246, 0.5);
}

.info:hover{
    background: rgb(20, 20, 20);
}

.home .myimg{
    width: 50%;
    height: 100%;
    transform: translate(100%,-28%);
    z-index: 0;
}

.about{
    align-items: center;
    justify-content: center;
    position: relative;
    background: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: all 1.2s ease;
}

.about:hover{
    background: beige;
}

.about .text1{
    margin-top: 40px;
    margin-left: 45%;
    font-size: 20px;
    font-weight: 300;
} 

.about .title{
    margin-top: -5px;
    margin-left: 45.5%;
    font-size: 2rem;
}

.card-c1{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: black 1px solid;
    border-radius: 2rem;transform: translate(500px,100px);
}

.card-c2{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: black 1px solid;
    border-radius: 2rem;transform: translate(850px,-101px);
}

.details-container h3{
    margin-top: 40px;
    font-size: 1.3rem;
}

.details-container p{
    margin-top: 30px;
    font-size: 1.1rem;
}

.about .intro{
    transform: translate(500px,-80px);
}

.about .intro p{
    align-items: center;
    justify-content: center;
    width: 700px;
    font-size: 1.2rem;
}

.about .intro, .card-c1, .card-c2{
    margin-left: 70px;
}

.pic{
    transform: translate(50px,-450px);
}

.sec-img{
    width: 380px;
    height: 380px;
    border-radius: 2rem;
    border: black 1px solid;
    overflow: hidden;
    object-fit: cover;
    box-shadow: black 2px 2px 2px 2px ;
}

/* --Project Sections-- */

.project .pro-head{
    display: flex;
    justify-content: center;
}

.project p{
    font-size: 5rem;
    color: white;
}

.project .wrapper{
    display: flex;
    width: 70%;
    height: 100vh;
    align-items: center;
    margin-left: 17%;
    margin-top: -10%;
    justify-content: space-between;
}

.wrapper .card{
    width: 280px;
    height: 450px;
    /* padding: 2rem 1rem; */
    background: black;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}


.card:hover{
    transform: translateY(20px);
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 220,0.5);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-info{
    position: relative;
    z-index: 3;
    color: #1C1D20;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    overflow: hidden;   
}

.card:hover .card-info{
    opacity: 1;
    transform: translateY(0px);
}

.card .card-info h1{
    margin: 0;
}

.card .card-info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card-info .card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    padding: 0.5rem 1rem;
    background: #1C1D20;
    color: white;
    font-size: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 3rem;
    margin-left: 40px;
    margin-bottom: 10px;
    overflow: hidden;
}

.card-info .card-btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
} 

/* --Achievement section-- */

.achieve{
    background: black;
    position: relative;
}


.achieve:hover{
    background-color: beige;
}

.achieve .titlep{
    color: black;
    font-size: 4rem;
    margin-left: 20%;
}

.achieve .container-achieve{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* margin: 10px; */
    background: transparent;    
}

.text-box{
    padding: 20px 30px;
    background-color: transparent;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    border: black 1px solid;

}

.lft{
    left: 0;
}

.rgt{
    /* margin-left: 10%; */
    left: 50%;
}



/* .timeline{
    background: blue;
    max-width: 100%;
    margin: 100px auto;
}

.achieve .title-p{
    font-size: 4rem;
    color: beige;
}

.container-achieve{ 
    padding: 10px 80px;
    position: relative;
    padding-right:50px ;
    width: 40%;
    margin-left: 90px;
    background: rgba(0, 0, 0, 0.3);
    
}
 
.text-box{
    padding: 20px 30px;
    background: beige;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    z-index: 7;  
}

.lft{
    left: 0;
}

.rgt{
    left: 50%;
}

.img{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 0px;
    top: 32px;
    z-index: 1;
}

.rgt img{
    left: 0px;    
} 

.achieve::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: whitesmoke;
    top:0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
} */







/* --Contact Section-- */
.contact{
    position: relative;
    width: 100%;
    height: 70vh;
    background: #1C1D20;
}

.contact .typer{
    display: inline;
}

.contact .typer .call{
    color: white;
    margin: 5% 0% -18% 30% ;
    font-size: 5rem;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(18),
        cursor 0.4s step-end infinite alternate;
}



.contact footer{
    padding: 20px 0 10px 40px;
    margin-top: 55vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;     
}

.contact footer p span, .icons p{
    font-size: 15px;
    color: gray;
}

.contact a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 55px;
    color: wheat;
}

.contact a:hover{
    color: rgb(126, 114, 93);
}

.contact .mail{
    height: 65px;
    width: 250px;
    background: #1c1d20;
    border: wheat 1px solid;
    margin-right: 20px;
    color: beige;
    transition: all 1s ease;
    font-size: 10px;
    transition: all .5s ease;
    margin-left: 30%;
}

.contact .mail a{
    align-items: center;
    font-size: 0.9rem;
}

.contact .mail:hover{
    background: rgba(20, 20, 20, 5);
}

.contact .tel{
    height: 65px;
    width: 200px;
    background: #1c1d20;
    border: wheat 1px solid;
    margin-right: 20px;
    color: beige;
    transition: all 1s ease;
    font-size: 10px;
    transition: all .5s ease;
}

.contact .tel a{
    padding-left: 15px;
    font-size: 1rem;
}

.contact .tel:hover{
    background: rgba(20, 20, 20, 5);
}

